.password_reset_success {
  background-color: #f8f8f8;
  min-height: 100vh;
  border: 1px solid white;
}

.password_reset_success_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  max-width: 500px;
  min-height: 500px;
  margin: 50px auto;
  padding: 0px 60px;
  border-radius: 10px;
}
/* 
.password_reset_success_image .image_main {
  position: relative;
} */
/* .password_reset_success_image .image_mark {
  position: absolute;
  top: 5;
} */

.password_reset_success span {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.password_reset_success .password_reset_success_btn {
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  border: none;
  background-color: #00e075;

  color: #ffffff;
  font-weight: 700;
  font-size: 34.41;
  margin-top: 1.5rem;
}

.password_reset_success .password_reset_success_btn {
  background-color: #2add86;
}
