.wrapper{

    max-width: 650px;
    height: 1020px;
    margin: 5rem auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2.3rem;
}

.heading{
   text-align: center;
}

.heading__title{
    font-size: 40px;
    font-weight: 700;
 }

 .heading__content{
    font-size: 18px;
    font-weight: 400;
 }


 .social{
    margin: 16px 0;
 }
 
 .social__icon{
    width: 30px;
    margin: 0 7px;
    text-align: center;
 }

 .social .social__icon img{
    width: 25px;
    border-radius: 100px;
 }

 
form .form__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  
}

.form__wrapper input{
   border-radius: 5px; ;
   box-shadow: 0px 0px 3.33px 3.33px rgba(0, 0, 0, 0.04);
   outline: none;
   border: none;
   font-size: 20px;
   flex: 1;
   padding: 15px;
  
}

.wrap{
  display: flex;
  flex: 1;
  gap: 10px; 
}


form .form__span{
   flex-basis: calc(100% - 10px);
   
}
 

@media (max-width: 600px) {
   .wrap {
     flex-direction: column;
   }
 
   form .form__span {
     flex-basis: 100%;
   }
 }