section{
  background-color: #F8F8F8;
  margin: 5px;

}

/* navigation of the page */
.signup-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
}

.signup-nav__logo--main{
   display: flex;
   color: #000;
   font-family: Inter;
   font-size: 64px;
   font-weight: 800;
}
 .gradient{
   background: linear-gradient(90deg, #FF6B00 0%, #F00 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: Inter;
   font-size: 64px;
   font-weight: 900;
}

.signup-nav__btn button{
   width: 116px;
   height: 40px;
   border-radius: 11.359px;
   background: linear-gradient(90deg, #FF8E3D 0%, #F00 100%);
   border: none;
   color: #fff;
   font-size: 23px;
   font-weight: 500;
   cursor: pointer;
}



/* body of the login page */

.wrapper{
    max-width: 600px;
    min-height: 500px;
    margin: 1px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2.3rem;
}

.heading{
   text-align: center;
}

.heading__title{
    font-size: 40px;
    font-weight: 700;
 }

 .heading__content{
    font-size: 18px;
    font-weight: 400;
 }


 .social{
    margin: 16px 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 3px;
 }
 .social__text{
   font-size: 24px;
   font-weight: 500;
   color: #000;
}
 
 .social__icon{
    width: 30px;
    margin: 0 7px;
    text-align: center;
 }

 .social .social__icon img{
    width: 25px;
    border-radius: 100px;
 }

 
form .form__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  
}

.form__wrapper input{
   border-radius: 5px; ;
   box-shadow: 0px 0px 3.33px 3.33px rgba(0, 0, 0, 0.04);
   outline: none;
   border: none;
   font-size: 20px;
   flex: 1;
   padding: 15px;
   width: 200px;
  
}

.wrap{
  display: flex;
  flex: 1;
  gap: 10px; 
}


form .form__span{
   flex-basis: calc(100% - 10px);
   
}

form .form__button{
   background-color: #FF8E3D;
   color: #fff;
   font-size: 25px;
   cursor: pointer;
   font-weight: 700;
   margin-top: 10px;
}
 

@media (max-width: 600px) {
   .wrap {
     flex-direction: column;
     flex-basis: 100%;
   }

   .form__wrapper input{
      width: 340px;
      
   }
   
 
   form .form__span {
     flex-basis: 100%;
   }
 }