.user_signup {
  background-color: #f8f8f8;
  min-height: 100vh;
  border: 1px solid white;
}

.user_signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  max-width: 500px;
  min-height: 70vh;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}
.signup_header {
  text-align: center;
  font-weight: 700;
  font-size: 42.53px;
  line-height: 51.03px;
  color: #000000;
}

.signup_welcome {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.signup_images {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.signup_images span {
  font-weight: 500;
  font-size: 26.58px;
}

.signup_images img {
  height: 39.88px;
  width: 39px;
}

.first_last {
  display: flex;
  max-width: 100%;
}

.first_last input {
  display: flex;
  width: 50%;
}

.user_signup input {
  background-color: #ffffff;
  padding: 13px;
  border: none;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.signup_btn {
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  border: none;
  background-color: #ff8e3d;
  color: #ffffff;
  font-weight: 700;
  font-size: 34.41;
  margin-top: 1.5rem;
}
