section .pickup{
    display: flex;
    gap: 5rem;
}

 

main{
   padding: 9px;
   margin: 5px auto;
   position: relative;

}

header{
    display: flex;
    gap: 3px;
    position: absolute;
    cursor: pointer;
    right: 0px;
    justify-content: center;
}
.heading{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
header .btn-text{
    font-size: 20px;
    font-weight: 700;
    color: #F00;
}
.icon{
    display: flex;
}


.pickup-details h3,
.Dropoff-details h3,
.Delivery-option h3,
.item-description h3,
.no-item h3,
.item-weight h3{
    color: #101010;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

.pickup-details,
.Dropoff-details ,
.Delivery-option{
    max-width: 340px;
}


input{
    border-radius: 5px; ;
    box-shadow: 0px 0px 3.33px 3.33px rgba(0, 0, 0, 0.04);
    outline: none;
    border: none;
    font-size: 18px;
    flex: 1;
    padding: 9px;
    width: 100%;
 }

main .span{
    display: block;
    margin: 9px 0;
    width: 100%;   
}


.Delivery-option .option{
    display: flex;
    max-width: 390px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.Delivery-option .option img{
    width: 80px;
}
.option__button{
    width: 40px;
}


.item-description {
    max-width: 390px;
}

.item-description .items{
   display: flex;
   flex-wrap: wrap; 
}


.item-description .item{
    padding: 10px 6px;
    width: 110px;
    background-color: #BABABA;
    margin: 2px;
    text-align: center;
    color: #eeeeee;
    cursor: pointer;
    border-radius: 5px;
   
}

.reduced{
    max-width: 280px;
}

.hamburger{
   margin: 8px 16px;
   display: none;
}

.container{
    position: relative;
    /* display: inline-block; */
}
.code{
    margin:15px 0;
    background: #EEE;
    width: 100%;
}


.card{
    padding: 5px 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 5px;
}



@media (max-width: 820px) {
    .hamburger{
        display: block;
     }

     
  }